# Binaries and executables
bin/

guacamole/recordings/*

# Security: Ignore SSL certificates and keys
wazuh_config/wazuh_indexer_ssl_certs/
**/*.pem
**/*.key
**/*.crt

# Logs and databases
*.log
*.sqlite
*.db

# Docker and local environment
.DS_Store

# AI Assistant Metadata
.gemini/
 